USE [MikroDesktop_007]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Personeller_Yonetimi]    Script Date: 8.10.2025 11:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[fn_Personeller_Yonetimi](@ilkkod nvarchar(30),
@sonkod nvarchar(30),
@kodyapi nvarchar(30),
@SiralamaSekli tinyint,
@Yil smallint,
@Ay tinyint,
@ListelenecekPersoneller tinyint)
RETURNS TABLE AS
RETURN
(
SELECT TOP 100 PERCENT
per_Guid AS [#msg_S_0088] /* KAYIT NO */ ,
per_kod AS [msg_S_0078],
per_adi AS [msg_S_0870],
per_soyadi AS [msg_S_1040],
per_sicil_no AS [msg_S_1210] /* SSK SİCİLNO */ ,
per_dept_kod AS [msg_S_0513],
per_muh_grpkod AS [Entegre Grubu] /* ENTEGRE GRUBU KAYRA */,
dbo.fn_DateTimeKontrol(per_giris_tar) AS [msg_S_1211] /* GİRİŞ TARİHİ */ ,
dbo.fn_DateTimeKontrol(per_cikis_tar) AS [msg_S_1065] /* ÇIKIŞ TARİHİ */ ,
per_cikis_neden AS  [#msg_S_0759] /* ÇIKIŞ NEDENİ */ ,
dbo.fn_Split(dbo.fn_GetResourceMax('A',767, DEFAULT), per_CikisSebebiSecimli+1, DEFAULT)    AS [#msg_S_1641] /*ÇIKIŞ NEDENİ(SEÇİMLİ)*/,
per_muh_kod AS [msg_S_1027] /* MUH. KODU */ ,
ssk_ismi AS [msg_S_0621] /* SSK ŞUBESİ */,
per_dept_kod AS [msg_S_0756] /* DEP.KODU */ ,
dbo.fn_PerIsGrubu(per_is_grup) AS [msg_S_0622] /* İŞ GRUBU */ ,
per_kim_meslek AS [msg_S_0761] /* MESLEK */ ,
per_dept_kod AS [#msg_S_0871] /* DEPARTMAN KODU */,
(Select pdp_adi from dbo.DEPARTMANLAR where pdp_kodu = per_dept_kod) AS [#msg_S_0872] /* DEPARTMAN ADI*/ ,
per_bolge_kodu AS [#msg_S_1036] /* BÖLGE KODU */ ,
(select pbl_bolge_adi from dbo.PERSONEL_BOLGELERI where pbl_bolge_kodu = per_bolge_kodu) AS [#msg_S_1177] /* BÖLGE ADI*/ ,
per_kim_gorev AS [#msg_S_1700] /* GÖREV KODU */ ,
(select pgk_gorev_adi from dbo.PERSONEL_GOREV_TANIMLARI where pgk_gorev_kodu = per_kim_gorev) AS [#msg_S_0898] /* GÖREV ADI*/ ,
dbo.fn_DateTimeKontrol(per_nuf_dogum_tarih) AS [#msg_S_0762] /* DOĞ.TAR. */ ,
per_nuf_dogum_yer AS [#msg_S_0763] /* DOĞ.YERİ */ ,
per_ozel_not AS [#msg_S_0451] /* ÖZEL NOT */ ,
dbo.fn_DateTimeKontrol(per_Kidem_Tarih) AS [#msg_S_0764] /* KIDEM TAR. */ ,
per_asgari_ucretli AS [#msg_S_0765] /* ASGARİ ÜCT. */ ,
Per_TcKimlikNo AS [#msg_S_0766] /* T.C.KİMLİK NO */ ,
Per_PersMailAddress AS [#msg_S_0767] /* E-POSTA ADR. */ ,
Per_Muh_Grup_Kodu AS [#msg_S_0768] /* MUHTASAR GRUP KODU */ ,
dbo.fn_Split(dbo.fn_GetResourceMax('A',449,DEFAULT), per_Brut_net+1, DEFAULT) AS [#msg_S_2023] /*NET/BRÜT*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',472,DEFAULT), per_ucr_bode_yapilma+1, DEFAULT) AS [#msg_S_0770] /* BANK.ÖDEME */ ,
per_ucr_hesapno AS [#msg_S_0771] /* HESAP NO */ ,
(select ssk_maasbankakodu from dbo.PERSONEL_SSK_TANIMLARI where ssk_Sira_No = per_ucr_PSSK_sube) AS [#msg_S_0772] /* SSK BANKALAR */ ,
per_uye_dernek           AS [#msg_S_1650] /*ÜYE OLDUĞU ODA/DERNEK*/,
per_uye_dernek_sicil_no   AS [#msg_S_1651] /*ÜYE ODA/DERNEK SİCİL NO*/,
per_firma_no    AS [#msg_S_1263] /* FİRMA NO */,
per_sube_no   AS [#msg_S_1126] /* ŞUBE NO */ ,
dbo.fn_Split(dbo.fn_GetResourceMax('A',221, DEFAULT), per_tip+1, DEFAULT) AS [#msg_S_0077] /* TİPİ */ ,
dbo.fn_Split(dbo.fn_GetResourceMax('A',466, DEFAULT), per_kim_tahsil+1, DEFAULT) AS [#msg_S_1590]/* TAHSİLİ*/,
per_dil1 AS [#msg_S_1642] /*TÜRKÇE    */,
per_dil2 AS [#msg_S_1643] /*İNGİLİZCE */,
per_dil3 AS [#msg_S_1644] /*ALMANCA   */,
per_dil4 AS [#msg_S_1645] /*FRANSIZCA */,
per_dil5 AS [#msg_S_1646] /*İTALYANCA */,
per_dil6 AS [#msg_S_1647] /*İSPANYOLCA*/,
per_dil7 AS [#msg_S_1648] /*RUSÇA     */,
per_dil8 AS [#msg_S_1649] /*ARAPÇA    */,
per_dil9 AS [#msg_S_2508] /*AZERİCE    */,
per_dil10 AS [#msg_S_2509] /*GÜRCÜCE    */,
per_dil11 AS [#msg_S_1500] /*DİĞER      */,
per_dil12 AS [#msg_S_2510] /*DİĞER 2    */,
dbo.fn_Split(dbo.fn_GetResourceMax('A',470, DEFAULT), per_kim_sakat_derece+1, DEFAULT) AS [#msg_S_1592] /*SAKATLIK DERECESİ*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',474, DEFAULT), per_kim_gocmen+1, DEFAULT)       AS [#msg_S_1593] /*GÖÇMEN KODU*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',468, DEFAULT), per_kim_gorev_kod+1, DEFAULT)    AS [#msg_S_0897] /*GÖREV KODU*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',469, DEFAULT), per_kim_SGK_kod+1, DEFAULT)      AS [#msg_S_1594] /*SGK KODU*/,
per_kim_cocuk                 AS [#msg_S_1595] /*ÇOCUK ADEDİ*/,
per_kim_okuloncesi            AS [#msg_S_1596] /*ÇOCUK AD(OKUL ÖNCESİ)*/,
per_kim_ilkokul               AS [#msg_S_1597] /*ÇOCUK AD(İLKÖĞRETİM)*/,
per_kim_lise                  AS [#msg_S_1598] /*ÇOCUK AD(LİSE)*/,
per_kim_yuksek                AS [#msg_S_1599] /*ÇOCUK AD(YÜKSEK)*/,
per_nuf_uyruk                 AS [#msg_S_1600] /*UYRUK*/,
dbo.fn_CinsiyetStr(per_nuf_cinsiyet)              AS [#msg_S_1258] /* CİNSİYETİ */ ,
dbo.fn_Split(dbo.fn_GetResourceMax('A',223,DEFAULT),per_nuf_medeni_hal+1, DEFAULT) AS [#msg_S_1601] /*MEDENİ HAL*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',488,DEFAULT), per_nuf_kangrup+1, DEFAULT)   AS [#msg_S_1602] /*KAN GRUBU*/,
per_nuf_il                    AS [#msg_S_1603] /*NUFUSA KAYITLI OLDUĞU İL*/,
per_nuf_ilce                  AS [#msg_S_1604] /*NUFUSA KAYITLI OLDUĞU İLÇE*/,
per_ucret                     AS [#msg_S_0887] /*ÜCRET*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',476,DEFAULT), per_ucr_tip+1, DEFAULT) AS [#msg_S_0769] /*ÜCRET TİPİ*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',477,DEFAULT), per_ucr_send_durum+1, DEFAULT) AS [#msg_S_1605] /*SENDİKA DURUMU*/,
per_ucr_send                  AS [#msg_S_1606] /*SENDİKA*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',469,DEFAULT), per_ucr_sig_yuzde_gr+1, DEFAULT) AS [#msg_S_1607] /*SİGORTA % GRUBU*/,
per_ucr_vdaire                AS [#msg_S_0881] /*VERGİ DAİRESİ */,
dbo.fn_EvetHayir(per_ucr_konutfon)              AS [#msg_S_1380] /*KONUT FONU        */,
per_ucr_onceod                AS [#msg_S_1610] /*ÖNCE ÖDM. KF. AYI             */,
dbo.fn_EvetHayir(per_yard_yol)      AS [#msg_S_1611] /*YOL YARIDMI           */,
dbo.fn_EvetHayir(per_yard_yemek)    AS [#msg_S_1612] /*YEMEK YARDIMI         */,
dbo.fn_EvetHayir(per_yard_yakacak)  AS [#msg_S_1613] /*YAKACAK YARDIMI          */,
dbo.fn_EvetHayir(per_yard_bayram)   AS [#msg_S_1614] /*BAYRAM YARDIMI*/,
dbo.fn_EvetHayir(per_yard_cocuk)    AS [#msg_S_1615] /*COCUK YARIDIMI*/,
dbo.fn_EvetHayir(per_yard_aile)     AS [#msg_S_1616] /*AİLE YARDIMI*/,
dbo.fn_Split(dbo.fn_GetResourceMax('A',5,DEFAULT), per_yard_ozelindirim+1, DEFAULT)           AS [#msg_S_1617] /*ÖZEL İNDRİM*/,
per_adr_ilce                  AS [#msg_S_0439] /*İLÇE*/,
per_adr_il                    AS [#msg_S_0440] /*İL*/,
per_adr_ulke                  AS [#msg_S_0972] /*ÜLKE*/,
dbo.fn_DovizIsmi(per_doviz_cinsi)               AS [#msg_S_0849] /*DÖVİZ CİNSİ*/,
per_old_ucret                 AS [#msg_S_1618] /*ESKİ ÜCRET                */,
dbo.fn_EvetHayir(per_maas_ikramiye)             AS [#msg_S_1619] /*İKRAMİYE                  */,
per_VkfKesOd_fl               AS [#msg_S_1620] /*VAKIF KESİNTİSİ UYGULANDI	*/,
dbo.fn_EvetHayir(per_iszlksig)                  AS [#msg_S_1622] /*İŞSİZLİK SİGORTASI        */,
dbo.fn_Split(dbo.fn_GetResourceMax('A',1044,DEFAULT), per_Calismatipi+1, DEFAULT) AS [#msg_S_1623] /*ÇALIŞMA TİPİ              */,
dbo.fn_Split(dbo.fn_GetResourceMax('A',1096,DEFAULT), per_mevsim+1, DEFAULT)      AS [#msg_S_1624] /*ÇALIŞMA DÖNEMİ            */,
dbo.fn_Split(dbo.fn_GetResourceMax('A',1097,DEFAULT), per_kapsam+1, DEFAULT)      AS [#msg_S_1625] /*KAPSAM                    */,
ANABELGE.SGKBTipIsim AS [#msg_S_4458], /*TABİ OLDUĞU ANA SGK BELGE TÜRÜ*/
ANASGK.SGKKanunNoVeIsim AS [#msg_S_4459], /*TABİ OLDUĞU ANA SGK KANUNU*/
ANAMALIYE.MKTipIsim AS [#msg_S_4460],/*TABİ OLDUĞU ANA MALİYE KANUNU*/
DIGERBELGE.SGKBTipIsim AS [#msg_S_5015], /*TABİ OLDUĞU DİĞER SGK BELGE TÜRÜ*/
DIGERSGK.SGKKanunNoVeIsim AS [#msg_S_5016], /*TABİ OLDUĞU DİĞER SGK KANUNU*/
DIGERMALIYE.MKTipIsim AS [#msg_S_5017],/*TABİ OLDUĞU DİĞER MALİYE KANUNU*/
per_IdariAmirKodu             AS [#msg_S_1626] /*İDARİ AMİR KODU           */,
per_TeknikAmirKodu            AS [#msg_S_1627] /*TEKNİK AMİR KODU          */,
per_ilksoyad                  AS [#msg_S_1628] /*İLK SOYAD                 */,
per_boyu                      AS [#msg_S_1630] /*BOYU                      */,
per_kilo                      AS [#msg_S_1631] /*KİLOSU                    */,
per_gomlek_bed                AS [#msg_S_1632] /*GÖMLEK BEDENİ             */,
per_pant_bed                  AS [#msg_S_1633] /*PANTLON BEDENİ            */,
per_etek_bed                  AS [#msg_S_1634] /*ETEK BEDENİ               */,
per_ayak_no                   AS [#msg_S_1635] /*AYAKKABI NO               */,
per_sapka_bed                 AS [#msg_S_1636] /*SAPKA BEDENİ              */,
per_onluk_bed                 AS [#msg_S_1637] /*ÖNLÜK BEDENİ              */,
per_diger_bed1                AS [#msg_S_1638] /*DİĞER BEDENİ 1            */,
per_diger_bed2                AS [#msg_S_1639] /*DİĞER BEDENİ 2            */,
per_diger_bed3                AS [#msg_S_1640]/*DİĞER BEDENİ 3            */,
per_special1                  AS [#msg_S_0773] /* ÖZEL ALAN 1 */ ,
per_special2                  AS [#msg_S_0774] /* ÖZEL ALAN 2 */ ,
per_special3                  AS [#msg_S_0775] /* ÖZEL ALAN 3 */
FROM dbo.PERSONELLER WITH (NOLOCK)
LEFT OUTER JOIN dbo.PERSONEL_SSK_TANIMLARI ON ssk_Sira_No=per_ucr_PSSK_sube
LEFT OUTER JOIN dbo.vw_SGK_Belge_Isimleri ANABELGE ON ANABELGE.SGKBTipNo=per_sskbelge_turu
LEFT OUTER JOIN dbo.vw_SGK_Kanun_Isimleri ANASGK ON ANASGK.SGKKTipNo=per_tabiioldugukanun
LEFT OUTER JOIN dbo.vw_Maliye_Kanun_Isimleri ANAMALIYE ON ANAMALIYE.MKTipNo=per_tabiioldugukanun2
LEFT OUTER JOIN dbo.vw_SGK_Belge_Isimleri DIGERBELGE ON DIGERBELGE.SGKBTipNo=per_sskbelge_turu_diger
LEFT OUTER JOIN dbo.vw_SGK_Kanun_Isimleri DIGERSGK ON DIGERSGK.SGKKTipNo=per_tabiioldugukanun_diger
LEFT OUTER JOIN dbo.vw_Maliye_Kanun_Isimleri DIGERMALIYE ON DIGERMALIYE.MKTipNo=per_tabiioldugukanun2_diger
WHERE 	( ( ( @SiralamaSekli = 1 ) AND (dbo.fn_PersKodOk(dbo.fn_guid_to_str (per_Guid),@ilkkod,@sonkod,@kodyapi,1)=1) ) OR
( ( @SiralamaSekli = 2 ) AND (dbo.fn_PersKodOk(per_kod,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 3 ) AND (dbo.fn_PersKodOk(per_adi,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 4 ) AND (dbo.fn_PersKodOk(per_soyadi,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 5 ) AND (dbo.fn_PersKodOk(per_sicil_no,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 6 ) AND (dbo.fn_PersKodOk(per_dept_kod,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 7 ) AND (dbo.fn_PersKodOk(per_kim_gorev_kod,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 8 ) AND (dbo.fn_PersKodOk(per_nuf_seri_no,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli = 9 ) AND (dbo.fn_PersKodOk(per_bolge_kodu,@ilkkod,@sonkod,@kodyapi,0)=1) ) OR
( ( @SiralamaSekli =10 ) AND (dbo.fn_PersKodOk(cast(per_firma_no as nvarchar(30)),@ilkkod,@sonkod,@kodyapi,1)=1) ) OR
( ( @SiralamaSekli =13 ) AND (dbo.fn_PersKodOk(cast(per_ucr_PSSK_sube as nvarchar(30)),@ilkkod,@sonkod,@kodyapi,1)=1) ) )
AND ((@ListelenecekPersoneller=0) OR
(@ListelenecekPersoneller=2 AND YEAR(per_cikis_tar)=@Yil AND MONTH(per_cikis_tar)=@Ay) OR
(@ListelenecekPersoneller=1 AND ((per_cikis_tar<=dbo.fn_EncodeDate(1900,01,01)) OR (per_cikis_tar>=DATEADD(DAY,1,dbo.fn_EncodeDate(@Yil,@Ay,dbo.fn_AyKacGun(@Ay,@Yil)))))))
ORDER BY per_kod )