
SELECT *,
CASE WHEN [STOKTA BEKLEME GÜN SAYISI] > 0 
THEN 
(([ALIŞ FİYATI KDV DAHİL] * 0.60)/365) * (case when [SIFIR / 2.EL / DEMİRBAŞ]= 'SIFIR' THEN CASE WHEN [STOKTA BEKLEME GÜN SAYISI] - [FATURA VADE GÜNÜ] < 0 THEN 0 ELSE [STOKTA BEKLEME GÜN SAYISI] - [FATURA VADE GÜNÜ] END  ELSE [STOKTA BEKLEME GÜN SAYISI] - [FATURA VADE GÜNÜ] END) 
ELSE 0 END AS [FINANSMAN MALİYETİ]
FROM 

(
SELECT 

sto_sezon_kodu AS [SIFIR / 2.EL / DEMİRBAŞ],
sto_kod as [ŞASE],
(SELECT top 1 sth_evrakno_sira FROM STOK_HAREKETLERI WHERE sth_evraktip=3 AND sth_cins not in (9) and sth_stok_kod=sto_kod order by sth_tarih desc) as [ALIŞ FATURA NO],
(SELECT top 1 sth_tarih        FROM STOK_HAREKETLERI WHERE ((sth_evraktip=3 AND sth_cins not in (9)) OR (sth_tip=0 and sth_cins=11 and sth_evraktip=12)) and sth_stok_kod=sto_kod order by sth_tarih desc) as [FATURA GİRİŞ TARİHİ],
(SELECT top 1 dbo.fn_OpVadeTarih(sth_odeme_op,sth_tarih)   FROM STOK_HAREKETLERI WHERE ((sth_evraktip=3 AND sth_cins not in (9)) OR (sth_tip=0 and sth_cins=11 and sth_evraktip=12)) and sth_stok_kod=sto_kod order by sth_tarih desc) as [FATURA VADE TARİHİ],
(SELECT top 1 DATEDIFF(DAY,sth_tarih,dbo.fn_OpVadeTarih(sth_odeme_op,sth_tarih))   FROM STOK_HAREKETLERI WHERE ((sth_evraktip=3 AND sth_cins not in (9)) OR (sth_tip=0 and sth_cins=11 and sth_evraktip=12)) and sth_stok_kod=sto_kod order by sth_tarih desc) as [FATURA VADE GÜNÜ],

DATEDIFF(DAY,(SELECT top 1 sth_tarih FROM STOK_HAREKETLERI WHERE ((sth_evraktip=3 AND sth_cins not in (9) ) OR (sth_tip=0 and sth_cins=11 and sth_evraktip=12)) and sth_stok_kod=sto_kod order by sth_tarih desc),GETDATE())   AS [STOKTA BEKLEME GÜN SAYISI],
'' AS [MODEL YILI],
sta_isim AS [MODEL],
sto_isim as [MODEL TAM İSMİ],
(SELECT top 1 sth_tutar - (sth_iskonto1+sth_iskonto2+sth_iskonto3) FROM STOK_HAREKETLERI WHERE ((sth_evraktip=3 AND sth_cins not in (9) ) OR (sth_tip=0 and sth_cins=11 and sth_evraktip=12)) and sth_stok_kod=sto_kod order by sth_tarih desc) as [ALIŞ FİYATI KDV HARİÇ],
(SELECT top 1 (sth_tutar - (sth_iskonto1+sth_iskonto2+sth_iskonto3)) + sth_vergi   FROM STOK_HAREKETLERI WHERE ((sth_evraktip=3 AND sth_cins not in (9)) OR (sth_tip=0 and sth_cins=11 and sth_evraktip=12)) and sth_stok_kod=sto_kod order by sth_tarih desc) as [ALIŞ FİYATI KDV DAHİL],
'' AS [DURUMU],

dbo.fn_EldekiMiktar(sto_kod) as [MİKTAR] 

FROM STOKLAR WITH(NOLOCK) 
LEFT OUTER JOIN STOK_ALT_GRUPLARI WITH(NOLOCK) ON sta_ana_grup_kod=sto_anagrup_kod and sta_kod=sto_altgrup_kod

WHERE 
(sto_muhgrup_kodu LIKE '1%' OR sto_muhgrup_kodu LIKE '2%'  OR sto_muhgrup_kodu LIKE '4%' OR sto_muhgrup_kodu LIKE '30%' OR sto_muhgrup_kodu LIKE '4001%') 
AND dbo.fn_EldekiMiktar(sto_kod) > 0 


UNION ALL 

------------------ FATURASI OLANLAR ---------------------

SELECT 
'DEMİRBAŞ',
MAX(dem_kod),
--dem_fatura_seri + '-' + convert(nvarchar(50),dem_fatura_sira),
cha_evrakno_sira,
cha_tarihi,
cha_tarihi,
'',
MAX(DATEDIFF(DAY,cha_tarihi,getdate())),
'',
'',
MAX(dem_isim),
--SUM(CASE WHEN cha_evrakno_seri IS NULL  THEN (dem_tutar) ELSE cha_aratoplam end) , 
--SUM(CASE WHEN cha_evrakno_seri IS NULL  THEN dem_tutar + ((dem_tutar * dbo.fn_VergiYuzde(dem_vergi))/100) ELSE cha_meblag end), 

MAX(cha_aratoplam), 
MAX(cha_meblag), 
ISNULL((SELECT TOP 1 CASE WHEN COUNT(*) > 0 THEN 'SATILDI' END FROM CARI_HESAP_HAREKETLERI WHERE cha_kasa_hizkod = dem_kod and cha_evrak_tip = 63),''),

dbo.fn_AtikEldekiMiktar(cha_kasa_hizkod,YEAR(dbo.fn_Bugun()))  
FROM DEMIRBASLAR WITH(NOLOCK) 
LEFT JOIN CARI_HESAP_HAREKETLERI ON cha_kasa_hizkod = dem_kod
WHERE cha_tip = 1 and cha_cinsi = 14 and cha_kasa_hizmet = 8 and cha_evrak_tip = 0 
AND dem_muh_kodu like '254%'
GROUP BY cha_evrakno_sira, cha_tarihi, cha_kasa_hizkod, dem_kod

--------------------------- FATURASI OLMAYANLAR ---------------------------

UNION ALL 

SELECT 
'DEMİRBAŞ_FATURASIZ',
MAX(dem_kod),
--dem_fatura_seri + '-' + convert(nvarchar(50),dem_fatura_sira),
dem_fatura_sira,
dem_fatura_tarihi,
dem_fatura_tarihi,
'',
MAX(DATEDIFF(DAY,dem_fatura_tarihi,getdate())),
'',
'',
MAX(dem_isim),
--SUM(CASE WHEN cha_evrakno_seri IS NULL  THEN (dem_tutar) ELSE cha_aratoplam end) , 
--SUM(CASE WHEN cha_evrakno_seri IS NULL  THEN dem_tutar + ((dem_tutar * dbo.fn_VergiYuzde(dem_vergi))/100) ELSE cha_meblag end), 

MAX(dem_tutar), 
MAX(dem_tutar + ((dem_tutar * dbo.fn_VergiYuzde(dem_vergi))/100)), 

ISNULL((SELECT TOP 1 CASE WHEN COUNT(*) > 0 THEN 'SATILDI' END FROM CARI_HESAP_HAREKETLERI WHERE cha_kasa_hizkod = dem_kod and cha_evrak_tip = 63),''),

dbo.fn_AtikEldekiMiktar(dem_kod,YEAR(dbo.fn_Bugun()))  
FROM DEMIRBASLAR 
LEFT OUTER JOIN CARI_HESAP_HAREKETLERI WITH(NOLOCK) ON  dem_fatura_seri=cha_evrakno_seri and dem_fatura_sira=cha_evrakno_sira
WHERE dem_muh_kodu like '254%' 
and ( dbo.fn_AtikEldekiMiktar(dem_kod,2020) > 0 or dbo.fn_AtikEldekiMiktar(dem_kod,2021) > 0 
  OR  dbo.fn_AtikEldekiMiktar(dem_kod,2022) > 0 or dbo.fn_AtikEldekiMiktar(dem_kod,2023) > 0) 
and cha_evrak_tip IS NULL
--and dem_kod = '34 BLZ 835'
GROUP BY dem_fatura_sira,dem_fatura_tarihi,dem_kod 


) S 
WHERE [DURUMU] = '' 
ORDER BY [STOKTA BEKLEME GÜN SAYISI]  DESC

